{% extends 'base.html.twig' %}

{% block contenu %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">adresse1</th>
      <th scope="col">adresse2</th>
      <th scope="col">code postal</th>
      <th scope="col">ville</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for adresse in adresses %}
    <tr>
      <th scope="row">{{ adresse.id }}</th>
      <td>{{ adresse.adresse1 }}</td>
      <td>{{ adresse.adresse2 }}</td>
      <td>{{ adresse.codepostal }}</td>
      <td>{{ adresse.ville }}</td>
      <td><a href="" class="btn btn-primary">modifier</a><a href="{{ path('delete', {id: adresse.id}) }}" class="btn btn-danger">supprimer</a></td>
    </tr>
  {% endfor %}  
  </tbody>
</table>
{% endblock %}